<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group_0661.gamecentre">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <service
            android:name=".user.UserManager"
            android:label="UserManager"/>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu">
            <intent-filter>
                <action android:name="android:intent.action.MAIN" />
                <category android:name="android:intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SlidingTilesStartPopUp"
            android:theme="@style/AppTheme.PopUpConfig" />
        <activity
            android:name=".MatchingTilesStartPopUp"
            android:theme="@style/AppTheme.PopUpConfig" />
        <activity
            android:name=".SnakePopUp"
            android:theme="@style/AppTheme.PopUpConfig" />
        <activity
            android:name=".KnightsTourPopUp"
            android:theme="@style/AppTheme.PopUpConfig" />
        <activity
            android:name=".AccountPopUp"
            android:theme="@style/AppTheme.PopUpConfig" />
        <activity
            android:name=".SlidingTilesActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".MatchingTilesActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".SnakeActivity"
            android:parentActivityName=".SnakePopUp" />
        <activity
            android:name=".LeaderBoardActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".KnightsTourActivity"
            android:parentActivityName=".MainMenuActivity" />
    </application>
</manifest>